#about-us > h1 {
  position: absolute;
  left: 305px;
  top: 110px;
}
#about-us .characteristics {
  position: absolute;
  right: 20px;
  width: 350px;
  padding: 20px;
}
#about-us .characteristics > h2 {
  margin-bottom: 10px;
  text-align: center;
}
#about-us .characteristics .carousel {
  height: 470px;
  overflow-y: auto;
}
#about-us .characteristics .about-us-section {
  width: 310px;
}
#about-us .characteristics .carousel.slick-slider .about-us-section {
  overflow-y: auto;
  max-height: 410px;
}
#about-us .characteristics .carousel.slick-slider .about-us-section > h3 {
  margin: 0 0 10px 0;
}
#about-us .samples {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 20px;
}
