#contests h1 {
  padding: 20px 0 0 0;
}
#contests .contest-container {
  position: absolute;
  right: 0;
  padding: 0 30px;
}
#contests .contest-container .rich-text-content {
  margin-bottom: 20px;
  max-height: 450px;
  overflow-y: auto;
}
#contests .contest-container .rich-text-content .contest {
  margin-right: 50px;
}
#contests .contest-container .rich-text-content .contest table td {
  white-space: nowrap;
}
#contests .contest-container .rich-text-content .contest table td:not(:last-child) {
  text-align: center;
}
