body {
  padding: 50px;
  font-family: "Segoe UI Light", "Segoe UI";
  font-weight: lighter;
}
h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
h2 {
  margin: 0 0 5px;
  font-size: 130%;
}
a {
  color: inherit;
}
table p {
  margin: 0;
}
strong {
  font-weight: bold;
}
input.error {
  box-shadow: 0 0 7px red;
}
.outer-main {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  z-index: 10;
}
.content-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100%;
}
.content-background .horizontal-outer-border {
  background: linear-gradient(to right, #fff 0%, rgba(0,0,0,0) 15px, rgba(0,0,0,0) 985px, #fff 100%);
}
.content-background .vertical-outer-border {
  background: linear-gradient(to bottom, #fff 0%, rgba(0,0,0,0) 15px, rgba(0,0,0,0) 585px, #fff 100%);
  overflow: auto;
}
.content-background.overlay .horizontal-outer-border {
  background: linear-gradient(to right, #ddd 0%, rgba(0,0,0,0) 15px, rgba(0,0,0,0) 985px, #ddd 100%);
}
.content-background.overlay .vertical-outer-border {
  background: linear-gradient(to bottom, #ddd 0%, rgba(0,0,0,0) 15px, rgba(0,0,0,0) 585px, #ddd 100%);
}
.inner-main {
  height: 560px;
  margin: 20px;
  position: relative;
}
.info-background {
  position: fixed;
  background: #ddd;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.info-background,
.content-background {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}
.info-background.visible,
.content-background.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.rich-text {
  background: rgba(255,255,255,0.8);
  border-radius: 50px;
}
.inner-main .carousel {
  margin: 0;
}
.inner-main .carousel.slick-slider {
  padding-bottom: 60px;
}
.inner-main :focus {
  outline: none;
}
.inner-main .slick-prev,
.inner-main .slick-next {
  top: inherit;
  bottom: 10px;
  color: #222;
  width: auto;
  height: auto;
}
.inner-main .slick-prev:before,
.inner-main .slick-next:before {
  color: inherit;
  font-size: 40px;
}
.inner-main .slick-prev:hover,
.inner-main .slick-next:hover {
  color: #222;
}
.inner-main .slick-prev {
  right: inherit;
  left: 10%;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}
.inner-main .slick-next {
  right: 10%;
  left: inherit;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
ul.menu li {
  display: inline-block;
  margin: 0 15px;
  width: 150px;
  height: 100px;
  position: relative;
}
ul.menu li a.menu-item {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}
ul.menu li a.menu-item div.bg {
  width: 100%;
  height: 100%;
}
ul.menu li a.menu-item div.title-bar {
  background: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}
ul.menu li a.menu-item div.title-bar span {
  display: block;
  border: 1px solid #222;
  padding: 10px;
  text-align: center;
}
ul.menu li a.menu-item.loading .bg {
  animation: fadeoutin 2s infinite;
}
.impressum {
  position: absolute;
  display: block;
  left: 10px;
  bottom: 10px;
  box-shadow: white 0px 0px 10px 10px;
  background: white;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
@-moz-keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.modern-header .prefix,
.modern-header .postfix {
    font-family: 'Freestyle Script';
    font-weight: normal;
}
.modern-header .prefix::after {
    content: "\2026";
}
.modern-header .postfix::before{
    content: "\2026";
}

.modern-header .main {
    text-align: center;
    font-variant: small-caps;
}

.modern-header .postfix {
    text-align: right;
}

/* Tooltipster error theme */
.tooltipster-sidetip.tooltipster-shadow.tooltipster-error .tooltipster-content {
    color: #d64815;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-highlight .tooltipster-box {
    box-shadow: 0 0 10px 6px #dbab1c;
}
