#vision-2020 > h1 {
  text-align: right;
  margin-right: 40px;
}
#vision-2020 .rich-text {
  padding: 20px;
  position: absolute;
  right: 20px;
  width: 390px;
}
#vision-2020 .rich-text .rich-text-content {
  height: 450px;
  overflow-y: auto;
}
