source https://nuget.org/api/v2

storage:none

nuget FSharp.Core

group Website
    source https://nuget.org/api/v2

    nuget Fable.Core
    nuget Fable.Elmish.Browser
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React
    nuget Fulma

group DataLoader
    source https://nuget.org/api/v2

    nuget FSharp.Data
    nuget HtmlAgilityPack
    nuget SixLabors.ImageSharp
    nuget FSharp.Compiler.Tools storage:packages
    nuget Ical.Net