source https://nuget.org/api/v2

storage:none

nuget FSharp.Core

group Website
    source https://nuget.org/api/v2

    nuget Fable.Core
    nuget Fable.Elmish.Browser
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React
    nuget Fable.Fetch
    nuget Fable.FontAwesome
    nuget Fable.FontAwesome.Free
    nuget Fulma
    nuget Fulma.Extensions.Wikiki.Divider
    nuget Thoth.Json

group DataLoader
    source https://nuget.org/api/v2

    nuget ExcelProvider
    nuget FSharp.Data
    nuget HtmlAgilityPack
    nuget Ical.Net
    nuget Polly
    nuget Selenium.WebDriver
    nuget Selenium.WebDriver.ChromeDriver
    nuget SixLabors.ImageSharp
