source https://api.nuget.org/v3/index.json
nuget ExcelDataReader
nuget Exira.SimpleHttpServer
nuget FAKE
nuget fsharp.core
nuget fsharp.data
nuget HtmlAgilityPack
nuget imageprocessor
nuget markdownsharp
nuget npm.js
nuget SharpZipLib
nuget WebSharper
nuget websharper.html

http https://getcomposer.org/installer "composer-setup.php"